<div style="width: 100%; height: 100%; background: black">
	<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>

<nav mfb-menu position="tl" effect="slidein-spring" label="Show options" active-icon="fa fa-edit" resting-icon="fa fa-plus" toggling-method="hover">
	<button mfb-button icon="fa fa-globe" label="Areas"></button>
	<button mfb-button icon="fa fa-cutlery" label="Cafes and Restaurants"></button>
	<button mfb-button icon="fa fa-train" label="Public transport station"></button>
	<button mfb-button icon="fa fa-futbol-o" label="Public transport station"></button>
</nav>